{% extends 'base.html.twig' %}

{% block title %}Wild Series | Category{% endblock %}

{% block body %}
<main class="container">
       <header>

    <h1 class="my-5">Find your favorite category to see all the related series:</h1>

<h3 class="mb-5">Didn't you find a category? <a class="btn btn-success mx-5" href="/categories/new">Add a new category</a> </h3>

    </header>
    {% for category in categories %}
        
        <div class="py-3">
            <h2 class="fw-bold">{{ loop.index }} - {{ category.name }}</h2>
           
             <a href="{{ path("category_show", { categoryName: category.name }) }}">See the series of this category</a> 
        </div>
    {% else %}
        No category found.
    {% endfor %}

    <a class="btn btn-dark m-auto" href="{{ path('app_index') }}">
        Return to home page
    </a>


    </main>
{% endblock %}
