@import "~bootstrap/scss/bootstrap";


$lightColor: #F8F1F1;
$primaryColor: #16697A;
$secondaryColor: #DB6400;
$elementColor: #FFA62B;
$titleFont: 'Rufina',
serif;
$textFont: 'Open Sans',
sans-serif;


body {
    background-color: $lightColor;

}

.navbar {
    background-color: $primaryColor;
    color: $lightColor;


}

.navbar-brand {
    color: $lightColor;
    text-decoration: none;
}


.nav-link {
    font-weight: 600;
    color: $lightColor;

    &:hover {
        color: $elementColor !important;
    }

}