@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Rufina:wght@400;700&display=swap');


$lightColor: #F8F1F1;
$primaryColor: #16697A;
$secondaryColor: #DB6400;
$elementColor: #FFA62B;
$titleFont: 'Rufina',
serif;
$textFont: 'Open Sans',
sans-serif;


body {
    background-color: $lightColor;
    font-family: $titleFont;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: $titleFont;
}

.navbar {
    background-color: $primaryColor;
    color: $lightColor;


}

.navbar-brand {
    color: $lightColor;
    font-family: $titleFont;
    text-decoration: none;
    letter-spacing: 3px;

}


.nav-link {
    font-weight: 600;
    color: $lightColor;
    font-family: $titleFont;

    &:hover {
        color: $elementColor !important;
    }

}