{% extends 'base.html.twig' %}

{% block title %}Wild Séries
{% endblock %}

{% block stylesheets %}
  
 {{ parent() }}
{% endblock %}

{% block body %}
{% include '/components/_navbar.html.twig' %}
	<h1>Welcome !</h1>


{% endblock %}
